BasedOnStyle: Google
Language: Cpp
Standard: c++17

IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100

PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false

BinPackArguments: false
BinPackParameters: false

BreakBeforeBraces: Attach
IndentCaseLabels: true
SpaceBeforeParens: ControlStatements

SortIncludes: true
IncludeBlocks: Preserve

FixNamespaceComments: false