Checks: >
  *,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  readability-*,
  modernize-use-nullptr,
  modernize-use-override,
  cppcoreguidelines-init-variables,
  cert-*,
  -bugprone-easily-swappable-parameters,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-uppercase-literal-suffix,
  -cert-dcl16-c,
  -cert-err58-cpp,
  -llvm-include-order,
  -llvmlibc-*,
  -fuchsia-default-arguments-calls,
  -fuchsia-default-arguments-declarations,
  -fuchsia-statically-constructed-objects,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -hicpp-uppercase-literal-suffix,
  -hicpp-avoid-c-arrays,
  -hicpp-signed-bitwise
  -modernize-use-trailing-return-type,
  -misc-use-internal-linkage,
  -altera-unroll-loops,

WarningsAsErrors: ''
HeaderFilterRegex: '^(src|include)/.*'
FormatStyle: file

CheckOptions:
  - key: readability-function-cognitive-complexity.IgnoreMacros
    value: true